.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-height: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex:1;
    margin-left: 100px;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.lsTitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label{
    font-size: 15px;

}

.lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.lsItem>span{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listResult {
    flex:3;
}